/* Reset CSS */
a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video
	{
	margin: 0;
	padding: 0;
}

/* Worklight container div */
body {
	height: 100%;
	margin: 0 auto;
}

#contador {
	margin-top: 5%;
	margin-left: 90%;
}

.background-init,.background-all,.ui-page-theme-b {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1024px auto;
}

.ui-page-theme-b {
	background-image: url("../images/init.png");
}

.background-normal {
	background-image: url("../images/normal.png");
}

.ui-overlay-a,.ui-page-theme-a,.ui-page-theme-a .ui-panel-wrapper {
	background-color: rgba(249, 249, 249, 0);
	border-color: rgba(187, 187, 187, 0);
	color: rgba(51, 51, 51, 0);
}

.text-question {
	margin-top: 10%;
}

.title,.text-question {
	color: white;
	text-align: center;
}

.body-content {
	margin: 5% auto;
}

.saude-content {
	margin: 10% auto;
}

.saude-bottom {
	padding: 1%;
}

.result-tela {
	max-width: 40%;
	margin: 25% auto;
}

/* Laptop/Tablet (1024px) */
@media only screen and (min-width: 481px) and (max-width: 1024px) and
	(orientation: landscape) {
	.background-init,.background-normal,.ui-page-theme-b {
		background-size: 1024px auto;
	}
	.saude-content {
		margin: 5% auto;
	}
	.body-content {
		margin: 0 auto;
	}
	.result-tela {
		max-width: 40%;
		margin: 20% auto;
	}
}

/* Tablet Portrait (768px) */
@media only screen and (min-width: 500px) and (max-width: 1024px) and
	(orientation: portrait) {
	.background-init,.background-normal,.ui-page-theme-b {
		background-size: 1024px auto;
	}
	.text-question {
		margin-top: 40%;
	}
	.saude-content {
		margin: 5% auto;
	}
	.body-content {
		margin: 0 auto;
	}
	.result-tela {
		max-width: 40%;
		margin: 20% auto;
	}
}

/* Phone Landscape (480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) and
	(orientation: landscape) {
	.background-init,.background-normal,.ui-page-theme-b {
		background-size: 500px auto;
	}
	.text-question {
		margin-top: 1%;
	}
	.saude-content {
		margin: 5% auto;
	}
	.body-content {
		margin: 0 auto;
	}
	.result-tela {
		max-width: 40%;
		margin: 20% auto;
	}
}

/* Phone Portrait (320px) */
@media only screen and (max-width: 320px) {
	.background-init,.background-normal,.ui-page-theme-b {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 500px auto;
	}
	.text-question,.title {
		margin-top: 40%;
	}
}